@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 7% 0%;
    text-align: center;
    background-color: black;
    h1 {
        font-variant: small-caps;
        font-size: 8vw;
        font-family: Passion One;
        color: white;
    }

    p {
        text-decoration: none;
        font-size: 16px;
        padding: 2% 0% 0% 0%;
        color: white;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        padding: 2% 0% 0% 0%;
        color: white;
    }
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 8% 0% 12% 4%;
    font-size: 3.6vw;
    font-family: Sriracha, cursive;
    background-color: white;
    line-height: 7vw;
}

.espaco {
    height: 8vh;
}

.fundo {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#joaninha {
    background-image: url(imagens/joaninha.jpg);
    box-shadow: inset 0px 0px 10px 5px rgb(0,0,0,0.4);

    & p {
        color: white;
        padding: 0.5vw;
        background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
    }
}

#papel {
    background-image: url(imagens/papeis.jpg);
    box-shadow: inset 0px 0px 10px 5px rgb(0,0,0,0.4);
    
    & p {
        color: white;
        padding: 0.5vw;
        background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
    }
}

footer {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;

    & a {
        color: white;
    }
}