@charset "UTF-8";

@media screen and (min-width: 900px) and (max-width:1440px) {
    .login {
        width: 70%;
        height: 650px;;
    }

    .foto {
        background-position: left bottom;
        float: left;
        width: 30%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width:1440px) {

    .login {
        width: 990px;
        height: 650px;;
    }

    .foto {
        background-position: left bottom;
        float: left;
        width: 40%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 60%;
        height: 100%;
    }
}