@charset "UTF-8";


@media screen and (max-width:313px) {
    .senha, .inlogin {
        width: 60%;
    }
}

@media screen and (min-width:1024px) {

    .login {
        display: flex;
        flex-flow: row nowrap;
        width: 70%;
        height: 70%;
    }

    .foto {
        background-position: left bottom;
        width: 40%;
        height: 100%;
    }

    .formulario {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
    }
}