@charset "UTF-8";


@media screen and (max-width:313px) {

    .login {
        transition: 0.4s;
    }
    
    .senha, .inlogin {
        width: 60%;
    }
}

@media screen and (min-width:1024px) {

    .login {
        margin: 100px;
        display: flex;
        flex-flow: row nowrap;
        width: 1150px;
        height: 70%;
    }

    .senha, .inlogin {
        width: 60%;
    }

    .foto {
        background-position: left bottom;
        width: 35%;
        height: 100%;
    }

    .formulario {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 100%;
    }
}